@import url('https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




.reg-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95.5vh;
    justify-content: center;
}

.register-card{
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    border-radius: 10px;
    width: 500px;
    background-color: #0a2191;
    color: white;
    font-family: 'nobile',sans-serif;
}

.creds{
    margin-left: 23px; 
    font-family:'nobile', sans-serif; 
}
.rinput{
    padding: 10px 15px;
    border-radius: 10px;
    width: 25rem;
    color: black;
    margin-left: 20px;
    font-family: 'nobile',sans-serif; ;
}

.rbtn{
    display: flex;
    justify-content: center;
    background: white;
    color: #1C2E8B;
    padding: 13px 40px;
    font-family: 'nobile',sans-serif;
    font-weight: 600;
    width: 170px;
    font-size: medium;
    border-radius: 20px;
    cursor: pointer;
    margin: 0rem 15rem;
    margin-top: 2rem;
    border: none;
    transition: 0.3s;
}
.rbtn:hover{
    background: rgb(46, 29, 197);
    color: #ffffff;
}

.rbtn:active{
    background: rgb(19, 9, 113);
    color: #ffffff;
}
