@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');



.log-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 100vh;
}

.logo{
   display: flex;
   justify-content: center;
   font-family: 'nobile', sans-serif;
   font-weight: 100;
   font-size: 1.8rem;
   font-style: italic;
   color: #1C2E8B;
   padding-bottom: 1rem;
 
}

.log-card{
    background-color: #ffffff;
    padding: 30px 35px;
    border: 1px solid rgb(130, 130, 130);
    border-radius: 12px;
    box-shadow: 2px 2px 3px rgb(215, 211, 211);
}

.log-creds{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.credz{
    color: #3a2274;
    font-family: 'nobile', sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.inpz{
    padding: 12px;
    width: 25rem;
    border: 1px solid rgb(226, 222, 220);
    border-radius: 10px;
}

.log-submit{
    width: 15rem;
    padding: 12px;
    color: #1C2E8B;
    font-family: 'nobile', sans-serif;
    font-size: 18px;
    font-weight: 200;
    border: 1px solid;
    border-radius: 1.5rem;
    margin-left: 5rem;
    cursor: pointer;
    transition: 0.3s;
}

.log-submit:hover{
    background-color: #2f419b;
    color: #fff;
    transition: 0.3s;
}