@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');




.sidebar-container{
  display: flex;
  flex-direction: column;
  padding:20px;
  height: 100vh;
  width: 20%;
  background-color: rgb(255, 255, 255);
}

.sidebar-pages{
  display: flex;
  flex-direction: column;
}

.title{
  display: flex;
  align-items: center;
  padding: 15px;
  font-family: 'inter',sans-serif;
  font-style: italic;
  font-weight: 180;
  font-size: 2rem;
  color: #1C2E8B;
   margin-bottom: 1rem;
}


.pages a{
  display: flex;
  align-items: center;
  text-align: center;
  gap: 2px;
  padding: 10px;
  color: rgb(92, 92, 92);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.sidebar-link.active{
  background-color: #e6e6e6;
  color: rgb(92, 92, 92);
  padding: 10px;
  border-radius: 12px;
  transition: 0.3s;
}

.sidebar-link:hover{
  background-color: #1C2E8B;
  color: aliceblue;
  padding: 10px;
  border-radius: 12px;
}

.winn-header{
  padding: 12px;
  font-family: 'nobile', sans-serif;
  font-size: 14px;
  color: rgb(124, 124, 124);
  font-weight: 500;
}

.home-icon{
  padding: 6px 8px;
  font-size: 1.1rem;
}

.user-icon{
  padding: 6px 8px;
  font-size: 1.3rem;
}

.dash{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  line-height: 2;
  font-weight: 450;
  transition: 0.3s;
}


.win-header{
  padding: 12px;
  font-family: 'nobile', sans-serif;
  font-size: 14px;
  color: rgb(124, 124, 124);
  font-weight: 500;
  margin-top: 4rem;
}

.windows a{
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  gap: 10px;
  color: rgb(92, 92, 92);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.one{
  border: 1px solid;
  padding: 6px 9px;
  border-radius: 7px;
  background-color:rgb(133, 133, 133);
  color: aliceblue;
}

.logout{
  display: flex ;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(92, 92, 92);
  align-self: flex-end;
}



